<div id="collection-page" class="row">
    <div id="collection" class="container-fluid">
        <%= render 'shared/messages' %>
        <%= render 'collection_nav', active: active %>
        <% if active == 'groups' %>
            <% if defined?(active_group) %>
                <%= render 'groups_nav', active_group: active_group %>
            <% else %>
                <%= render 'groups_nav' %>
            <% end %>
        <% end %>
        <%= render 'shared/snippet_list' %>
    </div>
</div>
