<div id="login" class="container-fluid">
    <h1 class="page-title"> Login to your Snipbase Account</h1>

    <%= form_for(:session, url: login_path, html: {class: "login-form form-default"}) do |f| %>
        <div class="form-element">
            <%= f.label :username %>
            <%= f.text_field :username, autofocus: true%>
        </div>

        <div class="form-element">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>

        <%= f.submit "Log in", class: "btn" %>
    <% end %>
</div>
