<div id="add-snippet" class="row">
    <%= render 'shared/messages' %>
    <h1 class="page-title">New Snippet</h1>
    <%= form_for @snippet, url: add_path, remote: true, html: {class: "create-snippet-form col-sm-12 col-xs-12"} do |f| %>
        <div class="editable-snippet">
            <div class="snippet-metadata">
                <%= f.label :title, "Title" %>
                <%= f.text_field :title %>
            </div>
              
            <div class="files">
                <%= render 'shared/snippet_file' %>
            </div>
            <script id="snippet_file_template" type="text/html">
                <%= render 'shared/snippet_file' %>
            </script>
        </div>
        <%= f.label :private, "Private"  %>
        <%= f.check_box :private %>
        <%= button_tag "Add file", id: "add-snippet-file-btn", type: "button", class: "btn" %>
        <%= f.submit "Create Snippet", class: "btn pull-right" %>
    <% end %>
</div>
