<div id="user-group" class="row">
    <%= render 'group_profile' %>
</div>
<div id="group-members" class="row">
    <div class="group-member-list grid-list extra-space container-fluid">
        <%= render 'shared/messages' %>
        <% if logged_in? && current_user == @group.owner %>
            <%= form_for(@group, url: invite_group_members_path(@group), method: :post, html: { class: "row invite-members-form" }) do |f| %>
                <div class="col-sm-8">
                    <%= text_field_tag :invitees %> 
                </div>
                <div class="col-sm-4 invite-btn-container">
                    <%= f.submit "Invite users", class: "btn" %>
                </div>
            <% end %>
        <% end %>
        <h3 class="section-title">Members</h3>
        <div class="row group-members-list">
            <% @group.active_users.each do |user| %>
                <%= render partial: 'member_item', locals: {user: user} %>
            <% end %>
            <% @group.pending_users.each do |user| %>
                <%= render partial: 'member_item', locals: {user: user, pending: true} %>
            <% end %>
        </div>
    </div>
</div>
