<%= form_for(@user, url: settings_path, remote: true, html: {class: "edit-form form-default"})  do |f| %>
    <div class="form-element"> 
    <%= f.label :exist_password, value: "Existing password"%>
    <%= f.password_field :existing_password %> 
    <% if !@user.errors[:existing_password].blank? %> 
        <span class="errormsg"><%= @user.errors.full_messages_for(:existing_password)[0] %></span>
<% end %>
</div>

<div class="form-element"> 
    <%= f.label :password, value: "New password"%>
    <%= f.password_field :password %> 
    <% if !@user.errors[:password].blank? %> 
        <span class="errormsg"><%= @user.errors.full_messages_for(:password)[0] %></span>
<% end %>
</div>

<div class="form-element"> 
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation %> 
    <% if !@user.errors[:password_confirmation].blank? %> 
        <span class="errormsg"><%= @user.errors.full_messages_for(:password_confirmation)[0] %></span>
<% end %>
</div>
<%= f.submit "Change password", class: "btn", name: "update_password_btn" %>
<% end %>
