<div id="register" class="row">
    <h1 class="page-title">Create your Snipbase Account</h1>

    <div class="col-sm-5 col-md-4">
        <%= form_for(@user, url: register_path, html: {class: "register-form form-default"})  do |f| %>
            <div class="form-element"> 
                <%= f.label :username %>
                <%= f.text_field :username, autofocus: true%> 
                <% if !@user.errors[:username].blank? %> 
                    <span class="errormsg"><%= @user.errors.full_messages_for(:username)[0] %></span>
                <% end %>
            </div>

            <div class="form-element"> 
                <%= f.label :name %>
                <%= f.text_field :name %> 
            </div>

            <div class="form-element"> 
                <%= f.label :email %>
                <%= f.email_field :email %> 
            </div>

            <div class="form-element"> 
                <%= f.label :password %>
                <%= f.password_field :password %> 
                <% if !@user.errors[:password].blank? %> 
                    <span class="errormsg"><%= @user.errors.full_messages_for(:password)[0] %></span>
                <% end %>
            </div>

            <div class="form-element"> 
                <%= f.label :password_confirmation, "Confirm your password" %>
                <%= f.password_field :password_confirmation %> 
                <% if !@user.errors[:password_confirmation].blank? %> 
                    <span class="errormsg"><%= @user.errors.full_messages_for(:password_confirmation)[0] %></span>
                <% end %>
            </div>

            <%= f.submit "Sign up", class: "btn" %>
        <% end %>
    </div>

    <div class="register-help col-sm-7 col-md-8">
        hello this is why you should sign up for an account.
    </div>
</div>
