<div id="register" class="container-fluid">
    <h1>Create your Snipbase Account</h1>

    <div class="register-box col-sm-4 col-xs-12">
        <%= form_for(@user, url: register_path, html: {class: "register-form"})  do |f| %>
            <div class="form-element"> 
                <%= f.label :username %>
                <%= f.text_field :username %> 
                <% if !@user.errors[:username].blank? %> 
                    <span class="errormsg">Username <%= @user.errors[:username][0] %></span>
                <% end %>
            </div>

            <div class="form-element"> 
                <%= f.label :name %>
                <%= f.text_field :name %> 
            </div>

            <div class="form-element"> 
                <%= f.label :email %>
                <%= f.email_field :email %> 
            </div>

            <div class="form-element"> 
                <%= f.label :password %>
                <%= f.password_field :password %> 
                <% if !@user.errors[:password].blank? %> 
                    <span class="errormsg">Password <%= @user.errors[:password][0] %></span>
                <% end %>
            </div>

            <div class="form-element"> 
                <%= f.label :password_confirmation, "Confirm your password" %>
                <%= f.password_field :password_confirmation %> 
                <% if !@user.errors[:password_confirmation].blank? %> 
                    <span class="errormsg">Password confirmation <%= @user.errors[:password_confirmation][0] %></span>
                <% end %>
            </div>

            <%= f.submit "Sign up" %>
        <% end %>
    </div>

    <div class="register-help col-sm-8 col-xs-12">
        hello this is why you should sign up for an account.
    </div>
</div>
