<div class="view-snippet container-fluid <%= 'minimizable minimized' if defined?(minimizable) &&  minimizable == true %>">
    <div class="snippet-header row">
        <div class="snippet-metadata <%= defined?(minimizable) ? 'col-xs-11 col-sm-10' : 'col-xs-12 col-sm-11' %>">
            <span class="author"><%= link_to snippet.user.username, show_user_path(username: snippet.user.username) %></span>
            <span class="separator">/</span>
            <span class="timestamp"><%= distance_of_time_in_words_to_now(snippet.created_at) %> ago</span>
            <span class="separator">/</span>
            <span class="tags">tags: <a href="#">tag1</a>, <a href="#">tag2</a>, <a href="#">tag3</a></span>
            <span class="snippet-title"><%= snippet.title %></span>
        </div>
        <div class="snippet-controls-container col-sm-1 col-xs-12">
            <div class="snippet-controls row">
                <% if has_edit_permission %>
                    <%= link_to "Edit", edit_snippet_path(snippet), class: "snippet-edit-link" %>
                <% end %>
                <% if has_delete_permission %>
                <%= link_to "Delete", delete_snippet_path(snippet) , remote: true, method: :delete, class: "snippet-delete-link" %>
                <% end %>
            </div>
        </div>
        <% if defined?(minimizable) %>
            <div class="snippet-expand-btn col-xs-1">
            </div>
        <% end %>
    </div>
    <div class="files">
        <% snippet.snippet_files.each do |snippet_file| %>
            <div class="file">
                <div class="file-metadata">
                    <label for="filename" class="file-name">
                        <%= snippet_file.filename %>
                    </label>
                </div>
                <div class="snippet-editor" data-readonly="true">
                    <%= text_area_tag "teststse", snippet_file.content, placeholder: "Content", class:"snippet-textarea", rows:"8" %>
                </div>
                <input type="hidden" name = "snippet_files[][language]" value="text">
            </div>
        <% end %>
    </div>
</div>
