<div class="view-snippet container-fluid <%= 'minimizable minimized' if defined?(minimizable) &&  minimizable == true %>">
    <div class="snippet-header row">
        <div class="snippet-title col-xs-12">
            <div class="row">
                <div class="<%= defined?(minimizable) ? 'col-xs-11' : 'col-xs-12' %>">
                    <h1><%= link_to snippet.title, show_snippet_path(snippet) %></h1>
                </div>
                <% if defined?(minimizable) %>
                    <div class="col-xs-1 snippet-expand-indicator">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"><g><polygon points="16,23.9 2.3,10.2 3.7,8.8 16,21.1 28.3,8.8 29.7,10.2"/></g></svg>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="snippet-metadata col-xs-12">
            <span class="metadata-item">
                <span class="glyphicon glyphicon-user"></span>
                <span class="author"><%= link_to snippet.user.username, show_user_path(username: snippet.user.username) %></span>
            </span>
            <span class="metadata-item">
                <span class="glyphicon glyphicon-time"></span>
                <span class="timestamp"><%= time_ago_in_words(snippet.created_at) %> ago</span>
            </span>
            <span class="metadata-item">
                <span class="glyphicon glyphicon-th"></span>
                <span class="groups"><%= snippet.groups.count %> <%= 'group'.pluralize(snippet.groups.count) %></span>
            </span>

            <% if current_user == snippet.user && snippet.private %>
            <span class="metadata-item">
                <span class="glyphicon glyphicon-eye-close"></span>
                <span class="private">private</span>
            </span>
            <% end %>

            <% if current_user && (current_user == snippet.user || current_user.is_admin) %>
            <span class="pull-right metadata-controls">
                <span class="metadata-item" data-toggle="tooltip" data-placement="bottom" title="Edit">
                    <%= link_to edit_snippet_path(snippet), class: "snippet-edit-link" do %> <span class="snippet-control glyphicon glyphicon-pencil"></span><% end %>
                </span>
                <span class="metadata-item" data-toggle="tooltip" data-placement="bottom" title="Delete">
                    <%= link_to delete_snippet_path(snippet, :destroy => true), remote: true, method: :delete, class: "snippet-delete-link", data: {confirm: "Delete snippet \"#{snippet.title}\"?"} do %>
                        <span class="snippet-control glyphicon glyphicon-remove"></span>
                    <% end %>
                </span>
            </span>
            <% end %>
        </div>
    </div>
    <div class="files">
        <% snippet.snippet_files.each do |snippet_file| %>
            <div class="file">
                <div class="file-metadata container-fluid">
                    <div class="col-xs-12">
                        <label for="filename" class="file-name">
                            <%= snippet_file.filename %>
                        </label>
                        <%= link_to "Raw", raw_snippet_file_path(snippet, snippet_file), class: "file-raw-link btn btn-small", method: :get %>
                    </div>
                </div>

                <div class="snippet-content">
                    <% if snippet_file.language == 'markdown' %>
                        <%= markdown(snippet_file.content) %>
                    <% else %>
                        <%= highlight(snippet_file.content, snippet_file.language) %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
